* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sortBar {
    position: relative;
    margin: auto;
    width: 80%;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    z-index: 12;
}

#tri,
#ordre {
    width: 300px;
    height: 70px;
    background-color: transparent;
    margin: 5px;
}

.label {
    position: absolute;
    top: 45px;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
}

#listeTri,
#listeOrdre {
    position: relative;
    left: 30%;
    top: -18px;
}

.hidden {
    display: none;
}

.libelleTri {
    margin-right: 10px;
}

.itemListe:not(:last-child) {
    border-bottom: 2px solid white;
}

.entete {
    display: flex;
    justify-content: space-between;
    padding-bottom: 5px;
    align-items: center;
    width: 400px;
}

.itemListe {
    background: #911C1C;
    text-align: center;
    line-height: 69px;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    font-weight: 700;
    font-size: 18px;
    height: 69px;
    width: 170px;
    transition: all 0.3s ease-in-out
}

.itemListe:hover,
.itemListe:focus {
    background-color: #DB8876;
    color: black;
}

.dropdownIcone {
    position: absolute;
    right: 0px;
    content: url(/assets/icons/dropdowon.png);
    padding: 20px;
    top: 10px;
}

.dropupIcone {
    position: absolute;
    right: 0px;
    content: url(/assets/icons/dropup.png);
    padding: 20px;
    top: 10px;
}